flask
gunicorn
opencv-python-headless
numpy
scikit-image
matplotlib
pillow
albumentations
segmentation-models-pytorch==0.3.3
requests
torch==2.1.0
torchvision==0.16.0
--extra-index-url https://download.pytorch.org/whl/cpu
