flask
gunicorn
opencv-python-headless
numpy==1.26.4
scikit-image
matplotlib
pillow
albumentations
segmentation-models-pytorch==0.3.3
requests

# Torch CPU ONLY
torch==2.1.0+cpu
torchvision==0.16.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
